
<body>
<div class="title">
  <h2 class="title-text">Розподілена інформаційна система ефективного водопостачання</h2>
</div>

<mat-tab-group mat-align-tabs="center" animationDuration="400ms" dynamicHeight (selectedIndexChange)="tabChanged($event)">
  <mat-tab label="Головна">
    <div class="img-text">
      <img src="https://i-visti.com/uploads/posts/2019-12/1576228914_shutterstock_470832587-731x488.jpg" alt="" class="image">
      <div class="near-image txt-style">
        <p>Система водопостачання представляє собою комплекс взаємопов'язаних споруд, призначених для забезпечення споживачів у воді будь-якого об'єкта. У загальному випадку в завдання систем водопостачання входять: отримання води з природного джерела, транспортування на територію об'єкта і подача по всіх точках відбору.</p>
        <div>
          <p><i>Метою</i> даної курсової роботи є впроваждення інформаційної системи аварійної сигналізації для системи водопостачання. Програма включатиме в себе аналіз показників роботи системи, прогнозування майбутніх даних та отримання інформації про можливу аварію у роботі мережі.
          </p>
            <p><i>Об’єктом</i> дослідження є уявна станція водопостачання, з лічильників якої будуть записуватись показники у базу даних.</p>
            <p><i>Предметом</i> дослідженя є покращення стабільності роботи системи водопостачання та запобігання аварійних ситуацій.</p>

        </div>
      </div>
    </div>

    <div class="txt-style pad-top-15">
      <p> Курсова присвячена питанням модернізації існуючих систем водопостачання з використанням системи аварійної сигналізації.
      </p>
        <p>Перевагами використання сигнальної системи  моніторингу є те, що вона сигналізує попередженням до того, як волога на трубі, створить загрозу розвитку корозії й ушкодить робочу трубу. За допомогою електронного пристрою реєструється відстань до місця протікання, що надає можливість точно визначити, де потрібно виймати грунт для ремонту труби. Таким чином, за допомогою інформаційної системи можна буде полагодити трубу до того, як станеться аварія та багато людей або підприємств залишаться без водопостачання.
      </p>
      <i>Детальніші дані можна проглянути на наступних вкладках даного сайту.</i>
    </div>

  </mat-tab>


  <mat-tab label="Схема мережі">
    <div class="plan-wrapper">
      <div class="scheme">
        <img *ngFor="let position of devicePositionsArray; let i = index" [id]="'device'+ i" class="device" src="assets/Sq.png">
      </div>
    </div>
  </mat-tab>


  <mat-tab label="Табличні дані">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle 
      *ngFor = 'let item of devices; let i = index' 
      [value]="i" 
      (change)="selectDevice($event)" 
      [checked]='selectedDevice===i'>
      Прилад №{{i+1}}
    </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="pad-top-30">
    <h2 class="device_name">Прилад № {{devices[selectedDevice].id_device}}</h2>
    <div class="align-center">
    <table class="table">
      <tr>
        <th>Дата</th>
        <th>Час</th>
        <th>Показник вологості (%)</th>
        <th>Витрати води від початку доби (л)</th>
      </tr>
      <tr *ngFor="let d of table_dates[selectedDevice], let j = index">
        <td>{{d.split(" ")[0]}}</td>
        <td>{{d.split(" ")[1]}}</td>
        <td>{{table_values[selectedDevice][j]}}</td>
        <td>{{table_water[selectedDevice][j]}}</td>
      </tr>
    </table>
  </div>
  </div>

  </mat-tab>


  <mat-tab label="Графіки та прогноз" id='device1'>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle 
      *ngFor = 'let item of devices; let i = index' 
      [value]="i" 
      (change)="selectDevice($event)" 
      [checked]='selectedDevice===i'>
      Прилад №{{i+1}}
    </mat-button-toggle>
    </mat-button-toggle-group>

    <div>
    <div >
      <h2 class="device_name">Дані та прогноз по вологості</h2>
      <h3 *ngIf = 'showMessages[selectedDevice]' class="message">{{messages[selectedDevice]}}</h3>
      <h3 class="repair">{{pipe_repair_dates[selectedDevice]}}</h3>
    </div>
    <div class="black">
      <ngx-charts-line-chart
        [view]="view"
        [autoScale]="true"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi[selectedDevice]"
      >
      </ngx-charts-line-chart>
    </div>

    <h2 class="device_name">Дані та прогноз по витратам води</h2>
    <div class="black">
      <ngx-charts-line-chart
        [view]="view"
        [autoScale]="true"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi2[selectedDevice]"
      >
      </ngx-charts-line-chart>
    </div>
  </div>

  </mat-tab>
</mat-tab-group>

</body>

