body {
  background-image: url("src/pictures/Water-Water-Wallpaper-High-Resolution-Image.jpg");
  height: 100%;
}

.title {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.title-text {
  font-size: 35px !important;
  font-family: monospace !important;
}

.plan-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scheme {
  background-image: url("src/assets/plan.png");
  width: 859px;
  height: 670px;
  position: relative;
}

.device {
  width: 20px;
  height: 20px;
  position: absolute;
}

.device_name {
  margin-top: 50px !important;
  font-size: 30px !important;
  text-align: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.mat-tab-label {
  font-family: cursive;
  font-size: larger;
  font-weight: bold;
  color: darkblue !important;
  width: 100%;
}

.mat-button-toggle {
  color: #c2cede;
  background-color: #405f78;
  font-size: 20px;
}

.mat-button-toggle-checked {
  color: rgb(42 201 201 / 75%) !important;
}

.mat-button-toggle-group {
  display: flex !important;
  justify-content: center !important;
}

.image {
  width: 30%;
}

.mat-tab-body-content {
  margin-top: 20px;
  padding-left: 15px;
}

.black {
  background-color: #405f78;
  width: 1500px;
  height: 600px;
}

.img-text {
  display: flex;
  flex-wrap: wrap;
}

.near-image {
  width: 60%;
}

.txt-style {
  font-size: 20px;
  padding-left: 20px;
  text-align: justify;
}

.pad-top-15 {
  padding-top: 15px;
  width: 90%;
}

.pad-top-30 {
  padding-top: 30px;
}

.table {
  color: #c2cede;
  background-color: #405f78;
  border: 1px solid black;
  text-align: center;
}

.message {
  font-size: 28px !important;
  color: rgba(209, 0, 0, 0.712);
}

.repair {
  font-size: 28px !important;
  color: black;
}

tr {
  border: 1px solid black;
}

td, th {
  width: 300px;
  font-size: 17px;
  border: 1px solid black;
}

th {
  font-size: 20px;
  font-weight: 400;
}

ngx-charts-line-chart {
  background-color: black;
}
